@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --font-family: "Quicksand", sans-serif;
  --font-weight: 400;
  --font-style: normal;
  --black: black;
}
body {
  margin: 0;
  padding: 0;
}
.conatiner {
  background-color: #fcfcfc;
}
.row {
  padding-top: 5%;
  font-family: var(--font-family);
}
.media-footer-mobile li a {
  text-decoration: none;
  color: #9c9c9c;
}
.media-footer-mobile li a:hover {
  text-decoration: none;
  color: #bb73b3;
}
.media-footer-mobile li {
  margin-bottom: 7%;
  list-style-type: none;
}
.media-footer-mobile {
  padding: 1px;
}
.bg-footer-color {
  background-color: #a6489c;
  color: white;
  font-family: var(--font-family);
  height: auto;
}
.btn-subscribe {
  border: 0;
  background-color: #bf64b6;
  color: white;
  width: 9vw;
}
.d-flex .input-box-subscribe-btn-main {
  justify-content: center;
}
.input-box-email {
  border: var(--bs-border-width) var(--bs-border-style) color#BF64B6 !important;
  height: 57px;
  width: 25vw;
  padding: 3%;
}
.d-flex row my-5 {
  font-family: var(--font-family);
}
.col-2 h5 {
  margin-bottom: 11%;
}
.col-3 h5 {
  margin-bottom: 6%;
}
.social-container {
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
.social-icon {
  margin: 5px;
  background-color: #bb73b3;
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon:hover {
  transform: translateY(-5px);
  transition: background-color 0.3s ease, transform 0.2s ease 0.1s;
  background-color: #eb5ddb;
}
.credit-footer-main {
  padding-left: 20px;
  float: left;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.cpy-adjustment {
  margin-top: 0 !important;
  margin-bottom: 0rem !important;
}
.copyright-text {
  font-size: 15px;
  color: #9c9c9c;
}
.bg-footer-color .container .row .col-3 {
  font-family: var(--font-family);
}
.bg-footer-color .container .row .col-3 h2 {
  font-weight: 600;
}
iframe {
  margin-top: 15%;
}
.color-and-fonts {
  font-family: var(--font-family);
  color: #7e7e7e;
  font-size: 13px;
}
.b-r-noone {
  border-radius: 0;
}
#contact-margin-adjust{
margin-top: 10px;
padding-bottom: 1%;
}
#button-send-styles {
  border: 2px solid;
  border-color: #a6489c;
  border-radius: 40px;
  font-size: 14px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #a6489c;
}

#button-send-styles:hover {
  background-color: #a6489c;
  color: white;
}

@media (max-width: 991.98px) {
  .input-box-email {
    width: 65vw;
  }
  .btn-subscribe {
    width: 26vw;
  }
  .input-box-subscribe-btn-main {
    margin-bottom: 10%;
  }
  .bg-footer-color .container {
    margin-bottom: 0rem !important;
    margin-top: 1rem !important;
  }
  #mer {
    text-align: center;
  }
  #mesecemail {
    text-align: center;
  }
  #mediaq-bottom-footer {
    text-align: center;
  }
  .media-footer-mobile {
    padding-left: 1%;
    margin-top: 5%;
  }
  .color-and-fonts{
    padding-top: 11%;
    text-align: center;
  }
  iframe{
    width: 96vw !important;
  }
}

.head-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 121;
}
.carousel-wrapper {
  margin-top: 11%;
}
.logo-size {
  width: 13%;
}
.nav-top {
  background-color: #d7fff2;
}
.form-s-width {
  width: 57% !important;
  border-radius: 50px;
  padding: 1% 2%;
}

.btn:hover {
  color: #000;
  background-color: white;
}

.form-b-color {
  color: black;
  border-radius: 50px;
  margin-left: -50px;
  padding: 0;
  border: 0;
}

.nav-bottom-cl {
  color: white !important;
  font-size: 14px;
  margin: 3px !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.navbar-toggler {
  padding: 0;
  border: 0;
  z-index: 1;
}

.icon-inline {
  display: ruby;
}

.icon-sizing {
  font-size: 18px;
}

.navbar-toggler-icon {
  position: absolute;
  top: -44px;
}
.filter form select {
  border-radius: 15px;
  padding: 2px 4px;
  padding-right: 14px;
}
.owl-nav .owl-next span {
  position: absolute !important;
  top: 22% !important;
  font-size: 62px !important;
  left: 92% !important;
  color: black;
}
.owl-nav .owl-prev span {
  position: absolute !important;
  left: 5% !important;
  top: 22% !important;
  font-size: 62px !important;
  color: black;
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block !important;
}
.category {
  text-align: center;
}
.category h2 {
  border-bottom: 2px solid black;
  display: inline;
}
.indicators .active {
  height: 9px;
  width: 9px;
  border-radius: 14px;
  border: 1px white solid;
  background-color: black !important;
}

.indicators button {
  width: 8px !important;
  height: 8px !important;
  border-radius: 13px !important;
  border: 1px white solid !important;
  background-color: #9ba4cb !important;
}
.owl-theme .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
  margin: 5px 2px;
  background: #d6d6d6;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

/* search model start */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 324565453456;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.3);
  /* Black w/ opacity */
}

.modal-content {
  display: flex !important;
  justify-content: center;
  background-color: #fefefe;
  padding: 0;
  position: absolute;
  top: 20px;
  border: 1px solid #888;
  width: 100%;
  background-color: transparent;
  border-radius: 50px;
  display: flow-root;
  border: 0;
}
.modal-content form {
  justify-content: center;
}
.close {
  color: black;
  float: right;
  font-size: 30px;
  position: absolute;
  left: 13%;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* search modal ends */

/* dorpdown-start */
.dropbtn {
  border: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.nav-item:hover .dropdown-content {
  display: block;
}

/* dorpdown-end */

/* breakpoint starts */

@media (min-width: 50px) and (max-width: 575.98px) {
  .dropbtn {
    border: 0;
    background-color: #ffffff;
    color: black !important;
  }

  .mb-cl {
    color: black !important;
    padding: 1px 6px;
  }

  .logo-size {
    width: 95px;
  }

  .icon-sizing {
    font-size: 11px;
  }

  .icon-none {
    display: none;
  }
  .dropdown-content {
    top: 6px;
    left: 103%;
  }
  .bg-cl {
    background-color: #fff;
  }
  .main-wrapper {
    margin-top: 25%;
  }
  .carousel-wrapper {
    margin-top: -4% !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-cl {
    background-color: #fff;
  }
  .dropbtn {
    border: 0;
    background-color: #fff;
    color: black !important;
  }

  .mb-cl {
    color: black !important;
    padding: 1px 6px;
  }

  .logo-size {
    width: 20%;
  }

  .icon-sizing {
    font-size: 15px;
  }

  .icon-none {
    display: none;
  }
  .dropdown-content {
    top: 6px !important;
    left: 103% !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .dropbtn {
    border: 0;
    background-color: #fff;
    color: black !important;
  }
  .bg-cl {
    background-color: #fff;
  }
  .mb-cl {
    color: black !important;
    padding: 1px 6px;
  }
  .dropdown-content {
    top: 6px;
    left: 103%;
  }
}

@media (min-width: 992px) {
  .bg-cl {
    background-color: #42a5f6;
  }

  .nav-bt-cetr {
    align-self: center;
  }

  .dropbtn {
    border: 0;
    background-color: #42a5f6;
  }
  .hamburger {
    display: none;
  }
}

/* breakpoint ends */
