{% include 'header.html' %}
{% load static %}



<main class="main-wrapper">
    <div class="filter-wrapper container-fluid d-flex justify-content-between">
        <div class="filter">
            <form>
                <select name="filter" id="filter">
                    
                    <option value="featured">Featured</option>
                    <option value="h-t-l">Prize high to low</option>
                    <option value="l-t-h">Prize low to high</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
              </form>
        </div><!-- /.filter -->
        <div class="filter">
            <form>
                <select name="filter-2" id="filter-2">
                    
                    <option value="featured">Size</option>
                    <option value="h-t-l">Prize high to low</option>
                    <option value="l-t-h">Prize low to high</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
              </form>
        </div><!-- /.filter -->
        <div class="filter">
            <form>
                <select name="filter-3" id="filter-3">
                    
                    <option value="featured">Color</option>
                    <option value="h-t-l">Prize high to low</option>
                    <option value="l-t-h">Prize low to high</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
              </form>
        </div><!-- /.filter -->
    </div><!-- /.filter-wrapper -->
    <div class="product-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
                    <div class="card">
                        <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p>RS . 699</p>
                          <a href="#" class="btn btn-primary">Add to cart</a>
                          <a href="#" class="btn btn-primary">Details</a>
                        </div>
                      </div>
                </div><!-- /.col-lg-3 -->
                <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
                    <div class="card">
                        <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p>RS . 699</p>
                          <a href="#" class="btn btn-primary">Add to cart</a>
                          <a href="#" class="btn btn-primary">Details</a>
                        </div>
                      </div>
                </div><!-- /.col-lg-3 -->
                <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
                    <div class="card">
                        <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p>RS . 699</p>
                          <a href="#" class="btn btn-primary">Add to cart</a>
                          <a href="#" class="btn btn-primary">Details</a>
                        </div>
                      </div>
                </div><!-- /.col-lg-3 -->
                <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
                    <div class="card">
                        <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p>RS . 699</p>
                          <a href="#" class="btn btn-primary">Add to cart</a>
                          <a href="#" class="btn btn-primary">Details</a>
                        </div>
                      </div>
                </div><!-- /.col-lg-3 -->
                <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
                    <div class="card">
                        <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p>RS . 699</p>
                          <a href="#" class="btn btn-primary">Add to cart</a>
                          <a href="#" class="btn btn-primary">Details</a>
                        </div>
                      </div>
                </div><!-- /.col-lg-3 -->
                <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
                    <div class="card">
                        <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p>RS . 699</p>
                          <a href="#" class="btn btn-primary">Add to cart</a>
                          <a href="#" class="btn btn-primary">Details</a>
                        </div>
                      </div>
                </div><!-- /.col-lg-3 -->
                <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
                    <div class="card">
                        <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p>RS . 699</p>
                          <a href="#" class="btn btn-primary">Add to cart</a>
                          <a href="#" class="btn btn-primary">Details</a>
                        </div>
                      </div>
                </div><!-- /.col-lg-3 -->
                <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
                    <div class="card">
                        <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p>RS . 699</p>
                          <a href="#" class="btn btn-primary">Add to cart</a>
                          <a href="#" class="btn btn-primary">Details</a>
                        </div>
                      </div>
                </div><!-- /.col-lg-3 -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div><!-- /.product-wrapper -->
</main>

{% include 'footer.html' %}