{% include 'header.html' %}
{% load static %}



<main class="main-wrapper mb-5">
  <div class="carousel-wrapper">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active"  data-bs-interval="2500">
          <img src="{% static 'images/carousel-1.webp' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="{% static 'images/carousel-2.webp' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="{% static 'images/carousel-3.jpg' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div><!-- /.carousel-wrapper -->
  <div class="product-wrapper container-fluid mt-5 pt-4">
    <div class="category mb-5">
      <h2>Best Sellers</h2>
    </div><!-- /.category -->
    <div class="owl-carousel owl-theme ">
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <div class="cart">
              <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
            </div><!-- /.cart -->
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.product-wrapper -->
  <div class="product-wrapper container-fluid mt-5 pt-4">
    <div class="category mb-5">
      <h2>Best Sellers</h2>
    </div><!-- /.category -->
    <div class="owl-carousel owl-theme ">
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <div class="cart">
              <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
            </div><!-- /.cart -->
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.product-wrapper -->
  <div class="product-wrapper container-fluid mt-5 pt-4">
    <div class="category mb-5">
      <h2>Best Sellers</h2>
    </div><!-- /.category -->
    <div class="owl-carousel owl-theme ">
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <div class="cart">
              <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
            </div><!-- /.cart -->
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img src="{% static 'images/product-2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>RS . 699</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.product-wrapper -->
  
</main>

{% include 'footer.html' %}
{% load static %}

