{% include 'header.html' %} {% load static %} {% load cart_tag %}
<main class="main">
  <div class="u-your-cart mb-5 pt-5 d-flex justify-content-center">
    <h2 class="u-par-underline-4">Your Cart</h2>
  </div><!-- /.u-your-cart -->
  <div class="u-cart-wrapper pt-3 mb-5">
    <div class="container-fluid">
      <div class="u-cart-head row p-0 d-none">
        <div class="col-md-6">PRODUCT</div>
        <div class="col-md-2">PRICE</div>
        <div class="col-md-2">QUANTITY</div>
        <div class="col-md-2">TOTAL</div>
      </div>
      {% if subtotal == 0 %}
      <div class="mt-5 pb-2 text-center" style="color: #444">
        <h4>No items in your cart</h4>
      </div>
      {% endif %}
      {% for key,product in request.session.cart.items %}
      
      <div class="u-cart-body">
        <div class="row pt-2" style="justify-content: space-evenly; align-items: center">
          <div class="col-md-12 col-lg-6">
            <div class="card" style="
                border: 0;
                flex-direction: row;
                width: 100%;
                align-items: center;
                background: transparent;
              ">
              <img src="{{product.image}}" class="card-img-top u-img-lining"
                style="width: 90px; height: 90px; border-radius: 0" alt="..." />
              <div class="card-body" style="padding: 0 24px; color: #444">
                <a class="card-title" href="{% url 'product-details' key %}"
                  style="text-decoration: none; color: #444">{{product.name}}
                </a>
                <p>'In Stock'</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <p style="margin: 0">
              <span style="
                  color: #858585;
                  text-decoration: line-through;
                  font-size: 14px;
                ">{%if product.discount_price%} {{product.discount_price}} {%endif%}</span>
              <span style="color: #ff6f00; font-size: 15px">Rs. {{product.price}}</span>
            </p>
          </div>
          <div class="col-md-2 u-padding-adjust">
            <div class="u-form">
              {% if product.quantity == 1 %}
              <a class="u-cart-price-3" href="{% url 'item_clear' key %}"><i style="font-size: 12px"
                  class="bi bi-trash3"></i></a>
              {% else %}
              <a class="u-cart-price" href="{% url 'item_decrement' product.product_id %}">-</a>
              {% endif %}
              <span class="mx-2">{{product.quantity}}</span>
              <a class="u-cart-price-2" href="{% url 'item_increment' product.product_id %}">+</a>
            </div>
          </div>
          <div class="col-md-2">
            <p style="margin: 0">
              <span style="color: #444; font-size: 15px"> Rs. {{ product.price|multiply:product.quantity }}</span>
            </p>
          </div>
        </div>
        <!-- /.row -->
      </div>
      {% endfor %}
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.u-cart-wrapper -->
  <div class="u-cart-shipping-wrapper my-4">
    <div class="container-fluid" style="
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      ">
      <div class="u-shipping-inner">
        <a class="u-shopping-btn" href="{% url 'products' %}">Continue Shopping</a>
        <a class="u-shopping-btn u-shopping-clear-btn-mview" href="{% url 'cart_clear' %}">Clear Cart</a>
      </div>
     
      <div class="u-shipping-inner-2">
        
        <p style="font-weight: 600; color: #333; text-align: end">
          SUBTOTAL : Rs. {{subtotal}}
        </p>
        {% if subtotal != 0 %}
        <p style="font-weight: 600; color: #333; text-align: end; margin-bottom: 0">
          SHIPPING : Rs. 200
          <p style="font-size: 13px; color: #797979; text-align: end">(Shipping : {{ shipping_date|date:"d M, Y" }})</p>  
        </p>
        {% else %}
        <p style="font-weight: 600; color: #333; text-align: end">
          SHIPPING : Rs. 0
        </p>
        {% endif %}
        <p style="font-weight: 600; color: #f40000; text-align: end">
          TOTAL : Rs. {{total}}
        </p>
        <p style="text-align: end">
          <button class="u-shopping-btn {% if subtotal == 0 %}u-checkout-disabled{% endif %}" style="text-align: end" id="myBtn" href="">Check Out</button>
        </p>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.u-cart-shipping-wrapper -->
   <div class="u-cart-modal">

<!-- Trigger/Open The Modal -->

<!-- The Modal -->
<div id="myModal" style="z-index: 1111;" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div style="justify-content: space-between; align-items: center" class="modal-header pt-2">
      <h4>Your Payment</h4>
      <span class="u-cart-close">&times;</span>
    </div>
    <div class="modal-body">
      <div class="row u-custom-row pt-3" style="display: flex; justify-content: space-between; border-bottom: 1px rgb(0,0,0,.5) dotted;">
        <p class=" col-sm-8" style="font-weight: 600; color: #333;">
          Name

        </p>
        <p class=" col-sm-2" style="font-weight: 600; color: #333; text-align: center;">
          Quantity

        </p>
        <p class=" col-sm-2" style="font-weight: 600; color: #333; text-align: end;">
          Price

        </p>
      </div>
      {% for key,product in request.session.cart.items %}
      <div class="row u-custom-row pt-3" style="display: flex; justify-content: space-between; border-bottom: 1px rgb(0,0,0,.5) dotted;">
        <p class=" col-sm-8" style="font-weight: 600; color: #333;">
          {{product.name}}

        </p>
        <p class=" col-sm-2" style="font-weight: 600; color: #333; text-align: center;">
          {{product.quantity}}

        </p>
        <p class=" col-sm-2" style="font-weight: 600; color: #333; text-align: end;">
          {{product.price}}

        </p>
      </div>
      {% endfor %}
      <div class="u-shipping-inner-2">
        <p style="margin-top: 12px; font-weight: 600; color: #333; border-bottom: 1px rgb(0,0,0,.5) dotted; text-align: end;">
          Subtotal : Rs. {{subtotal}}
        </p>
        {% if subtotal != 0 %}
        <p style="font-weight: 600; color: #333; margin-bottom: 4px; border-bottom: 1px rgb(0,0,0,.5) dotted; text-align: end">
          Shipping Charges : Rs. 200
          <p style="font-size: 13px; color: #797979; text-align: end">(Shipping : {{ shipping_date|date:"d M, Y" }})</p>  

        </p>

        {% else %}
        <p style="font-weight: 600; color: #333; border-bottom: 1px rgb(0,0,0,.5) dotted; text-align: end">
          Shipping Charges : Rs. 0
        </p>
        {% endif %}

        <p style="font-weight: 600; color: #f40000; border-bottom: 1px rgb(0,0,0,.5) dotted; text-align: end">
          Total Bill : Rs. {{total}}
        </p>
        <p style="text-align: end">
          <a class="u-shopping-btn" style="text-align: end" href="{% url 'create_checkout_session' %}">Pay Now</a>
        </p>
      </div>
    </div>

  </div>

</div>
   </div><!-- /.u-cart-modal -->

</main>

{% include 'footer.html' %}