<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    {% include 'header.html' %}
    <style>
        .alert-error {
            color: white !important;
            background-color: #ff834e !important;
        }
    </style>
    <!-- Bootstrap CSS -->
</head>

<body>

    {% for i in info %}
    <div class="container-fluid p-0">
        <iframe class="w-100"
            src="{{i.map_link}}"
            height="450" style="border: 0" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    {% endfor %}
    <div class="container d-flex justify-content-center align-items-center">
        {% for message in messages %}
        <div style="text-align: center;"
            class="alert alert-{{message.tags}} alert-dismissible fade show cust-responsive-mb" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                <div style="border: none !important;
    background-color: #FCFCFC !important;" class="p-3 border bg-light">
                    <h4>DROP US A LINE</h4>
                    <form method="post" action="{% url 'form-submit' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Your Name (required)</label>
                            <input name="name" type="text" class="form-control" id="formGroupExampleInput">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput2" class="form-label">Your Email (required)</label>
                            <input name="email" type="text" class="form-control" id="formGroupExampleInput2">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput3" class="form-label">Your Phone Number</label>
                            <input name="phone" type="text" class="form-control" id="formGroupExampleInput3">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput4" class="form-label">Your Message</label>
                            <textarea name="message" class="form-control" id="formGroupExampleInput4" rows="9"
                                cols="6"></textarea>
                        </div>
                        <div style="display:none;">
                            <label for="honeypot_name">Leave this field empty:</label>
                            <input type="text" id="honeypot_name" name="honeypot_name">
                        </div>
                        <div style="display:none;">
                            <label for="honeypot_email">Leave this field empty:</label>
                            <input type="email" id="honeypot_email" name="honeypot_email">
                        </div>
                        <div class="g-recaptcha" data-sitekey="6LdG8xoqAAAAABjDxfEmCW9bQ4HPoSJkEXWuSCGJ"></div>
                        <button style="margin-bottom: 2%;" type="submit" class="btn btn-outline-light"
                            id="button-send-styles"><b>Send</b></button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                {% for i in info %}
                <div style="border: none !important;
                background-color: #FCFCFC !important;" class="p-3 border bg-light">
                    <h4>CONTACT INFORMATION</h4><br>
                    <p>{{i.info}}</p><br>
                    <p><i class="bi bi-house-door"></i> {{i.address}}</p>
                    <p><i class="bi bi-telephone"></i> {{i.phone}}</p>
                    <p><i class="bi bi-envelope"></i> {{i.email}}</p>
                    <p><i class="bi bi-clock"></i> 24/7</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {% include 'footer.html' %}

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>