{% include 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
    <style>
        @import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

        body::-webkit-scrollbar {
            width: 0px;
            /* Remove scrollbar space */
            overflow-y: hidden !important;
            background: transparent;
            /* Optional: just to avoid scrollbar space */
        }

       
    </style>
</head>

<body style="background-color: #F5F5F5;">
    <main style=" overflow-y: hidden !important;
    background: transparent;
    overflow-y: scroll;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    ">
        <h1 id="faq-title u-par-underline-2" style="margin-top: 20px;">FAQs</h1>
        {% if faq %}
        {% for faqs in faq %}
        <div class="faq-wrapper">
            <div class="faq-container">
                <div class="faq-question">
                    {{faqs.Question}}
                </div>
                <div class="faq-answer-cont">
                    <div class="faq-answer">
                        {{faqs.Answer}}<br><br>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h2>Faq Not Found!</h2>
        <p>If you are the owner, please add faqs from the admin panel!</p>
        {% endif %}
        <script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
        <script>
            let faqQuestions = document.querySelectorAll(".faq-question");

            faqQuestions.forEach(faqQuestion => {
                faqQuestion.addEventListener("click", event => {
                    const activeFaq = document.querySelector(".faq-question.active");
                    if (activeFaq && activeFaq !== faqQuestion) {
                        activeFaq.classList.toggle("active");
                        activeFaq.nextElementSibling.style.maxHeight = 0;
                    }
                    faqQuestion.classList.toggle("active");
                    const faqAnswer = faqQuestion.nextElementSibling;
                    if (faqQuestion.classList.contains("active")) {
                        faqAnswer.style.maxHeight = faqAnswer.scrollHeight + "px";
                    } else {
                        faqAnswer.style.maxHeight = 0;
                    }
                });
            });
        </script>
    </main>
</body>

</html>
{% include 'footer.html' %}