{% load static %} {% include 'header.html' %}

<body>
  <div class="container">
    <div class="row" style="padding-top: 13%">
      <h1 class="my-5" id="fashion-pg-h1">Fashion</h1>
      <div class="col-md-3">
        <div class="card u_card_hover">
          <img
            src="{% static 'images/product-2.webp' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body" style="text-align: center">
            <h5 class="card-title">SY Baby Vest White</h5>
            <p>
              <span
                style="
                  color: #858585;
                  text-decoration: line-through;
                  font-size: 15px;
                "
                >Rs.699</span
              >
              <span style="color: #ff6f00; font-size: 17px">Rs.499</span>
            </p>
            <a href="#" class="btn btn-primary u_btn_color">Add to cart</a>
            <a href="#" class="btn btn-primary u_btn_color">Details</a>
          </div>
        </div>
        <div class="card u_card_hover">
          <img
            src="{% static 'images/product-2.webp' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body" style="text-align: center">
            <h5 class="card-title">SY Baby Vest White</h5>
            <p>
              <span
                style="
                  color: #858585;
                  text-decoration: line-through;
                  font-size: 15px;
                "
                >Rs.699</span
              >
              <span style="color: #ff6f00; font-size: 17px">Rs.499</span>
            </p>
            <a href="#" class="btn btn-primary u_btn_color">Add to cart</a>
            <a href="#" class="btn btn-primary u_btn_color">Details</a>
          </div>
        </div>
        <div class="card u_card_hover">
          <img
            src="{% static 'images/product-2.webp' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body" style="text-align: center">
            <h5 class="card-title">SY Baby Vest White</h5>
            <p>
              <span
                style="
                  color: #858585;
                  text-decoration: line-through;
                  font-size: 15px;
                "
                >Rs.699</span
              >
              <span style="color: #ff6f00; font-size: 17px">Rs.499</span>
            </p>
            <a href="#" class="btn btn-primary u_btn_color">Add to cart</a>
            <a href="#" class="btn btn-primary u_btn_color">Details</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card u_card_hover">
          <img
            src="{% static 'images/product-2.webp' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body" style="text-align: center">
            <h5 class="card-title">SY Baby Vest White</h5>
            <p>
              <span
                style="
                  color: #858585;
                  text-decoration: line-through;
                  font-size: 15px;
                "
                >Rs.699</span
              >
              <span style="color: #ff6f00; font-size: 17px">Rs.499</span>
            </p>
            <a href="#" class="btn btn-primary u_btn_color">Add to cart</a>
            <a href="#" class="btn btn-primary u_btn_color">Details</a>
          </div>
        </div>
        <div class="card u_card_hover">
          <img
            src="{% static 'images/product-2.webp' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body" style="text-align: center">
            <h5 class="card-title">SY Baby Vest White</h5>
            <p>
              <span
                style="
                  color: #858585;
                  text-decoration: line-through;
                  font-size: 15px;
                "
                >Rs.699</span
              >
              <span style="color: #ff6f00; font-size: 17px">Rs.499</span>
            </p>
            <a href="#" class="btn btn-primary u_btn_color">Add to cart</a>
            <a href="#" class="btn btn-primary u_btn_color">Details</a>
          </div>
        </div>
        <div class="card u_card_hover">
          <img
            src="{% static 'images/product-2.webp' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body" style="text-align: center">
            <h5 class="card-title">SY Baby Vest White</h5>
            <p>
              <span
                style="
                  color: #858585;
                  text-decoration: line-through;
                  font-size: 15px;
                "
                >Rs.699</span
              >
              <span style="color: #ff6f00; font-size: 17px">Rs.499</span>
            </p>
            <a href="#" class="btn btn-primary u_btn_color">Add to cart</a>
            <a href="#" class="btn btn-primary u_btn_color">Details</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card u_card_hover">
          <img
            src="{% static 'images/product-2.webp' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body" style="text-align: center">
            <h5 class="card-title">SY Baby Vest White</h5>
            <p>
              <span
                style="
                  color: #858585;
                  text-decoration: line-through;
                  font-size: 15px;
                "
                >Rs.699</span
              >
              <span style="color: #ff6f00; font-size: 17px">Rs.499</span>
            </p>
            <a href="#" class="btn btn-primary u_btn_color">Add to cart</a>
            <a href="#" class="btn btn-primary u_btn_color">Details</a>
          </div>
        </div>
        <div class="card u_card_hover">
          <img
            src="{% static 'images/product-2.webp' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body" style="text-align: center">
            <h5 class="card-title">SY Baby Vest White</h5>
            <p>
              <span
                style="
                  color: #858585;
                  text-decoration: line-through;
                  font-size: 15px;
                "
                >Rs.699</span
              >
              <span style="color: #ff6f00; font-size: 17px">Rs.499</span>
            </p>
            <a href="#" class="btn btn-primary u_btn_color">Add to cart</a>
            <a href="#" class="btn btn-primary u_btn_color">Details</a>
          </div>
        </div>
        <div class="card u_card_hover">
          <img
            src="{% static 'images/product-2.webp' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body" style="text-align: center">
            <h5 class="card-title">SY Baby Vest White</h5>
            <p>
              <span
                style="
                  color: #858585;
                  text-decoration: line-through;
                  font-size: 15px;
                "
                >Rs.699</span
              >
              <span style="color: #ff6f00; font-size: 17px">Rs.499</span>
            </p>
            <a href="#" class="btn btn-primary u_btn_color">Add to cart</a>
            <a href="#" class="btn btn-primary u_btn_color">Details</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card u_card_hover">
          <img
            src="{% static 'images/product-2.webp' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body" style="text-align: center">
            <h5 class="card-title">SY Baby Vest White</h5>
            <p>
              <span
                style="
                  color: #858585;
                  text-decoration: line-through;
                  font-size: 15px;
                "
                >Rs.699</span
              >
              <span style="color: #ff6f00; font-size: 17px">Rs.499</span>
            </p>
            <a href="#" class="btn btn-primary u_btn_color">Add to cart</a>
            <a href="#" class="btn btn-primary u_btn_color">Details</a>
          </div>
        </div>
        <div class="card u_card_hover">
          <img
            src="{% static 'images/product-2.webp' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body" style="text-align: center">
            <h5 class="card-title">SY Baby Vest White</h5>
            <p>
              <span
                style="
                  color: #858585;
                  text-decoration: line-through;
                  font-size: 15px;
                "
                >Rs.699</span
              >
              <span style="color: #ff6f00; font-size: 17px">Rs.499</span>
            </p>
            <a href="#" class="btn btn-primary u_btn_color">Add to cart</a>
            <a href="#" class="btn btn-primary u_btn_color">Details</a>
          </div>
        </div>
        <div class="card u_card_hover">
          <img
            src="{% static 'images/product-2.webp' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body" style="text-align: center">
            <h5 class="card-title">SY Baby Vest White</h5>
            <p>
              <span
                style="
                  color: #858585;
                  text-decoration: line-through;
                  font-size: 15px;
                "
                >Rs.699</span
              >
              <span style="color: #ff6f00; font-size: 17px">Rs.499</span>
            </p>
            <a href="#" class="btn btn-primary u_btn_color">Add to cart</a>
            <a href="#" class="btn btn-primary u_btn_color">Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}
</body>
