{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Baby Planet</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="icon" type="image/x-icon" href="https://babyplanet.pk/cdn/shop/files/fav.png?v=1685708323&width=32">
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body>
  <header>
    <div class="head-wrapper">
      <div class="nav-top">
        <nav class="navbar navbar-expand-lg" style="background-color: #e2e2e2;">
          <div class="container-fluid">


            <div class="navbar-collapse d-flex justify-content-between">
              <div class="hamburger">

              </div><!-- /.hamburger -->
              <a href="{% url 'home' %}" class="u-navbar-title" style="display: flex; justify-content: center;" ><img class="logo-size" src="{% static 'images/logo.png' %}" alt=""></a>


              <div class="nav-items-inner">
                <ul class="navbar-nav icon-inline mb-2 mb-lg-0">
                  <li class="nav-item sizing u_sizing">
                    <div class=" u_search me-1">
                      <form method="get" action="{% url 'search-results' %}" class="d-flex align-items-center">
                        <input class="form-control u_search_box " type="search" placeholder="Search" name="search">
                        <button type="submit" class="u_search_button_2">
                          <i class="ph-bold ph-magnifying-glass"></i>
                        </button>
                      </form>
                      <button class="u_search_button">
                        <i class="ph-bold ph-magnifying-glass"></i>
                      </button>
                      <button class="u_close_button">
                        <i class="ph-bold ph-x"></i>
                      </button>
                    </div>

                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item sizing me-3">
                    <i id="person-icon" class="bi bi-person-circle material-symbols-outlined u-p-icon"
                      style="color: black; font-weight: 700; font-size: 105%;"></i>

                  </li>

                  {% else %}
                  <li class="nav-item sizing me-3">
                    <i id="person-icon" class="bi bi-person material-symbols-outlined u-p-icon"
                      style="color: black; font-weight: 700; font-size: 102%;"></i>

                  </li>

                  {% endif %}

                  <li class="nav-item sizing me-3 u-view-upper">
                    <a class="bi bi-cart" href="{% url 'cart_detail' %}"
                      style="color: black; font-weight: 700; font-size: 102%; text-decoration: none;">
                      <span class="position-absolute translate-middle badge rounded-pill bg-danger u-pill"
                        >
                        {{request.session.cart|length}}
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </a>
                  </li>
                  <li class="nav-item sizing u-view-upper">
                    <i class="bi bi-heart" style="color: black; font-weight: 700; font-size: 102%;"></i>
                  </li>
                </ul>
              </div><!-- /.nav-items-inner -->
            </div>
          </div>
        </nav>
      </div><!-- /.nav-top -->






      <div class="nav-bottom">
        <nav class="navbar navbar-expand-lg bg-cl">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
              <ul class="navbar-nav">
                  {% if header %}
                      {% for item in header %}
                          <li class="nav-item">
                              <a class="nav-link nav-bottom-cl mb-cl" aria-current="page" href="{{ item.url }}">{{ item.name }}</a>
                          </li>
                      {% endfor %}
                  {% endif %}
              </ul>
          </div>
          
          </div>
        </nav>
      </div><!-- /.nav-bottom -->
      <div class="u-mobile-nav d-none" style="position: fixed; bottom: 0; background-color: #f2f5f5; width: 100%;">
        <div class="container">
          <ul class="inner navbar-nav justify-content-between" style="flex-direction: row;">
            <li class="nav-item" style="margin: 0; display: contents; padding: 0;">
              <a class="nav-link active nav-bottom-cl"
                style="margin: 10px !important; padding: 8px; color: #000 !important; font-size: 20px;"
                aria-current="page" href="{% url 'cart_detail' %}"><i class="bi bi-cart">
                  <span class="position-absolute translate-middle badge rounded-pill bg-danger"
                    style="width: 16px; height: 16px; font-size: 9px; top: 38%; padding: 0; padding-top: 4px;">
                    {{request.session.cart|length}}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </i></a>
            </li>
            <li class="nav-item" style="margin: 0;
            display: contents;
            padding: 0;">
              <a class="nav-link active nav-bottom-cl"
                style="margin: 10px !important; padding: 8px; color: #000 !important; font-size: 20px;"
                aria-current="page" href="{% url 'home' %}"><i class="bi bi-house-door"></i></a>
            </li>
            <li class="nav-item" style="margin: 0;
            display: contents;
            padding: 0;">
              <a class="nav-link nav-bottom-cl"
                style="margin: 10px !important; padding: 8px; color: #000 !important; font-size: 20px;"
                aria-current="page" href="#"><i class="bi bi-heart"></i></a>
            </li>
          </ul>
        </div><!-- /.container -->
      </div><!-- /.u-mobile-nav -->

    </div><!-- /.head-wrapper -->
    
  </header>
  <div id="popup" class="popup">
    <div class="popup-content">
      <span class="close">&times;</span>
      {% if user.is_authenticated %}
      <p><strong>Welcome! "{{user.username}}"</p></strong>
      <p style="color: red;"><strong style="color: black;">login at:</strong> {{user.last_login}}</p>
      <a id="logoutBtn" href="/logout">Logout</a>
      {% else %}
      <a id="loginBtn" href="{% url 'login' %}">Login</a>
      <a id="signupBtn" href="{% url 'signup' %}">Sign up</a>

      {% endif %}
    </div>
  </div>
</body>