{% include 'header.html' %}
{% load static %}
{% load cart_tag %}

<style>
  .alert-error {
    color: white !important;
    background-color: #ff834e !important;
}
  .main {
    overflow-y: hidden !important;
  }
  .star::before {
    content: "\2605"; /* Unicode star character */
    position: absolute;
    left: 0;
    width: 50%; /* Half width for half-filled star */
    overflow: hidden;
    color: #FFD700;
}

.star::after {
  content: "\2605";
  color: #ddd; /* Light gray for unfilled star */
}
</style>
<main class="main-wrapper">
  <div class="container d-flex justify-content-center align-items-center">
    {% for message in messages %}
    <div style="text-align: center;"
        class="alert alert-{{message.tags}} alert-dismissible fade show cust-responsive-mb my-2" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  </div>
  <div class="carousel-wrapper">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        {% for carousel in carousels %}
        <div class="carousel-item active" data-bs-interval="2500">
          <img src="media/{{carousel.image}}" class="d-block w-100" alt="...">
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div><!-- /.carousel-wrapper -->
  <div class="category-wrapper pt-5 pb-5" style="background-color: #f36e2d;">
    <div class="container-fluid">
      <div class="u-category-hd d-flex justify-content-center" style="color: white;">
        <h2 class="u-par-underline-3">All Categories</h2>
      </div><!-- /.u-category-hd -->
      <div class="owl-carousel owl-theme mt-4">
        {% for category in categories %}
        <div class="item d-flex justify-content-center mt-4">
          <div class="u-img-card">
            <img height="350px" width="" src="media/{{category.image}}" alt="">
            <div class="u-img-card-body">
              <div class="u-inner">
                <h5 class="mb-4">{{category.title}}</h5>
                <a href="{% url 'product-results'%}{{category.id}}">View More</a>
              </div>
            </div><!-- /.u-img-card-body -->
          </div><!-- /.img-card -->
        </div><!-- /.item -->
        {% endfor %}
      </div><!-- /.owl-carousel -->
    </div><!-- /.container-fluid -->
  </div><!-- /.category-wrapper -->
  <div class="product-wrapper container-fluid">
    <div class="category mb-5">
      <h2 class="u-par-underline-2">Best Sellers</h2>
    </div><!-- /.category -->
    <div class="owl-carousel owl-theme ">
      {% for product in products %}
      <div class="item u-card-adjusting-2">
        <a style="text-decoration: none; list-style-type:none; color:black;"
          href="{% url 'product-details' product.id %}">
          <div class="card u_card_hover u_card_hover_2">
            <img src="/media/{{product.image}}" class="card-img-top u-img-lining" alt="..." />
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title u-lining">{{product.name}}
              </h5>
              <div class="stars u-star-adjusting">
                &#9733;&#9733;&#9733;&#9733;&#9733;
              </div>
              <p style="margin: 0;"><span
                  style="color: #858585; text-decoration: line-through; font-size: 14px;">Rs.{{product.discount_price}}</span>
                <span style="color: #FF6F00; font-size: 17px;">Rs.{{product.price}}</span>
              </p>
              <!-- <a style="margin-top: 1rem;" href="{% url 'cart_add' product.id %}"
                class="btn btn-primary u_btn_color">Add to cart </a>
              <a style="margin-top: 1rem;" href="{% url 'product-details' product.id %}"
                class="btn btn-primary u_btn_color">Details</a> -->
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div><!-- /.product-wrapper -->
  <div class="sales">
    {% for offers in offer|slice:":1" %}

    <img src="/media/{{offers.image}}" width="100%" alt="">

    {% endfor %}

  </div><!-- /.sales -->
  <div class="product-wrapper container-fluid">
    <div class="category mb-5">
      <h2 class="u-par-underline-2">For You</h2>
    </div><!-- /.category -->
    <div class="owl-carousel owl-theme ">
      {% for product in products %}
      <div class="item u-card-adjusting-2">
        <a style="text-decoration: none; list-style-type:none; color:black;"
        href="{% url 'product-details' product.id %}">
        <div class="card u_card_hover u_card_hover_2">
          <img src="/media/{{product.image}}" class="card-img-top u-img-lining" alt="..." />
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title u-lining">{{product.name}}
            </h5>
            <div class="stars u-star-adjusting">
              &#9733;&#9733;&#9733;&#9733;&#9733;
            </div>
            <p style="margin: 0;"><span
                style="color: #858585; text-decoration: line-through; font-size: 14px;">Rs.{{product.discount_price}}</span>
              <span style="color: #FF6F00; font-size: 17px;">Rs.{{product.price}}</span>
            </p>
            <!-- <a style="margin-top: 1rem;" href="{% url 'cart_add' product.id %}" class="btn btn-primary u_btn_color">Add
              to cart </a>
            <a style="margin-top: 1rem;" href="{% url 'product-details' product.id %}"
              class="btn btn-primary u_btn_color">Details</a> -->
          </div>
        </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div><!-- /.product-wrapper -->


</main>
<div class="last-wrapper">
  <div class="bg-footer-color">
    <div class="d-flex container px-5">
      <div class="row" id="mer">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <h2 style="font-weight:600;">Address</h2>
          <p>Building # 21, Block B, Faisal Town, Lahore</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <h2>Call Us</h2>
          <p>+92 333 142 1787</p>
          <h2>Whatsapp</h2>
          <p>+92 333 142 1787</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <h2>Email</h2>
          <p>info@babyplanet.pk<br>care@babyplanet.pk</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <h2>Working Hours</h2>
          <p>10:00 - 20:00</p>
        </div>
      </div>
    </div>
    <hr class="m-0">
    <div class="container py-4">
      <div class="row  p-0" id="mesecemail">
        <div class="col-lg-6 col-md-12 mb-4">
          <h2>Be the First to Know</h2>
          <p>Get all the latest information on Events, Sales and Offers. Sign up for newsletter today.</p>
        </div>
        <div class="col-lg-6 col-md-12">
          <form class="d-flex input-box-subscribe-btn-main" action="{% url 'newsletter' %}" method="post">
            {% csrf_token %}
            <input class="input-box-email border" name="email" type="email" placeholder="Your email address" required>
            <button type="submit" class="btn-subscribe">Subscribe</button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div><!-- /.last-wrapper -->
{% include 'footer.html' %}