<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'header.html' %}
    <title>Login</title>
</head>

<body>
    <div class="container z-login-default-pad my-5">
        <h1>Login</h1>
    </div>
    <div class="d-flex justify-content-center">
        <form id="z-mob-responsive" class="z-w-30">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-primary z-w-but-login my-3">Login</button>
            <a class="btn btn-primary z-w-but-creat" href="{% url 'signup' %}">Create Account</a>
        </form>
    </div>
    {% include 'footer.html' %}
</body>

</html>