{% include 'header.html' %}
{% load static %}

<main>
  <div class="container-fluid">
    <div class="row mb-5 p-0">
      <div class="col-md-6 col-lg-6 col-xl-4 mt-5">
        <div class="container">
          <div class="mySlides">
            <div class="numbertext" style = "color:black;" >1 / 6</div>
            <img src="/media/{{products.image}}" style="width:100%">
          </div>
         



          <a class="prev" style="color: black;" onclick="plusSlides(-1)">❮</a>
          <a class="next" style="color: black;" onclick="plusSlides(1)">❯</a>

          <div class="caption-container">
            <p id="caption"></p>
          </div>

          <div class="row">
            <div class="column">
              <img class="demo cursor" src="/media/{{products.image}}" style="width:100%"
                onclick="currentSlide(1)">
            </div>
           
          
          </div>
        </div>
      </div>
      <div class="col-md-6 u-product-middle col-xl-4 mt-5 col-lg-5">
        <div class="card container">
          <div class="card-body">
            <h5 class="card-title" style="font-size: 18px; font-weight: 600;">{{products.title}}</h5>
            <div class="card-subtitle mb-2 text-body-secondary mt-2 d-flex align-items-center"><span
                style="text-decoration: line-through; color: #696969;">Rs.{{products.Orignal_price}}</span>
              <spa style="color: #ff6f00; font-weight: 600;">
                <h5 class="d-inline ms-2">Rs.{{products.price_that_you_sell}}</h5>
              </spa><span class="ms-2"
                style="background-color: #ff6f00; border-radius: 2px; font-weight: 600; color: white; font-size: 13px; padding: 2px 4px;">
                SAVE 34%</span>
            </div>
            <p class="card-text" style="font-size: 14px; color: #696969;">{{products.description}}</p>
            <div class="card-text d-flex align-items-baseline " style="font-size: 14px; color: #696969;">
              <h6 class="me-2" style="font-size: 15px;">SELECT SIZE :
              </h6>
              <select style=" border-radius: 4px; font-weight: 600;">
                <option value="0">Choose</option>
                <option value="1">Small</option>
                <option value="2">Medium</option>
                <option value="3">Large</option>
                <option value="3">X-large</option>
                <option value="3">Full Size</option>
              </select>
            </div>
            <div class="card-text d-flex mt-3 align-items-baseline " style="font-size: 14px; color: #696969;">
              <h6 class="me-2" style="font-size: 15px;">SELECT COLOUR :
              </h6>
              <select style=" border-radius: 4px; font-weight: 600;">
                <option value="0">Choose</option>
                <option value="1">Red</option>
                <option value="2">Green</option>
                <option value="3">White</option>
                <option value="3">Black</option>
                <option value="3">Brown</option>
              </select>
            </div>
            <div class="card-text d-flex align-items-baseline mt-4" style="font-size: 14px; color: #696969;">
              <form action="">
                <button style="font-size: 20px; border-radius: 20px; height: 40px; width: 40px; background-color: #ffa560; color: white; font-weight: 700; border: 0;" id="minus">−</button>
                <input type="number" value="1" min="1" max="50" style="width: 50px; padding: 6px;" id="input" />
                <button style="font-size: 20px; border-radius: 20px; height: 40px; width: 40px; background-color: #ffa560; color: white; font-weight: 700; border: 0;" id="plus">+</button>
              </form>
              <a class="u-cart-adjust ms-4" href=""><i class="bi bi-cart"></i> ADD TO CART</a>
            </div>

          </div>
        </div>
      </div>
      <div class="u_last col-md-6 col-lg-3 col-xxl-4 mt-5">
      <div class="u_last_inner container">
        <h5 class="mb-3 u-par-underline">Shipping & Delivery</h3>
          <div class="d-flex mt-4" style="align-items:  end;">
            <div><i class="bi bi-truck" style="font-size: 38px; color: #696969;"></i></div>
            <div class="ms-3">
              <div>
                <h6 style="color: #696969; font-size: 14px; font-weight: 600;">FREE SHIPPING</h6>
              </div>
              <div style="color: #696969; font-size: 14px;">Free shipping over Rs. 1500</div>
            </div>
          </div>
          <div class="d-flex mt-4" style="align-items:  end;">
            <div><i class="bi bi-headset" style="font-size: 38px; color: #696969;"></i></div>
            <div class="ms-3">
              <div>
                <h6 style="color: #696969; font-size: 14px; font-weight: 600;">
                  SUPPORT 24/7</h6>
              </div>
              <div style="color: #696969; font-size: 14px;">We support 24 hours a day</div>
            </div>
          </div>
          <div class="d-flex mt-4" style="align-items:  end;">
            <div><i class="bi bi-arrow-left-right" style="font-size: 38px; color: #696969;"></i></div>
            <div class="ms-3">
              <div>
                <h6 style="color: #696969; font-size: 14px; font-weight: 600;">EASY RETURN</h6>
              </div>
              <div style="color: #696969; font-size: 14px;">Simple and easy return and refund policy.</div>
            </div>
          </div>
      </div><!-- /.u_last_inner -->
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="u-tab-wrapper my-5">
    <div class="container">
      <ul class="nav nav-pills mb-3" style="justify-content: space-evenly;" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Description</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">More Information</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Reviews</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">{{products.description}}</div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">...</div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">...</div>
      </div>
    </div>
  </div><!-- /.u-tab-wrapper -->
</main>

{% include 'footer.html' %}