<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'header.html' %}
        <title>Signup</title>
    </head>
    <body>
        <div style="padding-top: 7%;" class="container z-login-default-pad my-5">
            <h1>Sign up</h1>
        </div>
        <div style="padding-bottom: 5%;" class="d-flex justify-content-center">
            <form id="z-mob-responsive" class="z-w-30">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <button style="margin-bottom: 0px !important;" id="signup-mobile" type="submit" class="btn btn-primary z-w-but-login mb-4">Create Account</button>
                <a style="margin-bottom: 0 !important;" class="btn btn-primary z-w-but-creat mb-5" href="{% url 'login' %}">Login</a>
            </form>
        </div>
        {% include 'footer.html' %}
</body>
</html>