<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'header.html' %}
    <title>Signup</title>
</head>

<body>
    <div style="padding-top: 7%" class="container z-login-default-pad my-5">
        <h1>Sign up</h1>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        {% for message in messages %}
        <div style="text-align: center; width: 60vw;" class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    <div style="padding-bottom: 5%" class="d-flex justify-content-center">
        
        <form method="POST" action="{% url 'register-user'%}" id="z-mob-responsive" class="z-w-30">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="first_name" />
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Username</label>
                <input type="text" class="form-control" id="name" name="username" />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" />
            </div>
            <button style="margin-bottom: 0px !important" id="signup-mobile" type="submit"
                class="btn btn-primary z-w-but-login mb-4">
                Create Account
            </button>
            <a style="margin-bottom: 0 !important" class="btn btn-primary z-w-but-creat mb-5"
                href="{% url 'login' %}">Login</a>
        </form>
    </div>
    {% include 'footer.html' %}
</body>

</html>